/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// --------------------------------------
// 색상정의
// --------------------------------------

$primary: #ffdc16;
$success: forestgreen;
$danger: red;
$info: pink;
$warning: tomato;

$dark: #333;
$light: #fafafa;

/* font */
$font : "Montserrat", sans-serif;

